@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<ProductVM>

<div class="row justify-content-between mt-4">
    <div class="col-4">
        <h4>Productos</h4>
    </div>
    <div class="col-4 text-end">
        @*aue rediriga al metodo AddEdit [get] de categoryController*@
        <a href="/Product/AddEdit" class="btn btn-success"><i class="fa-solid fa-plus"></i> Crear Nuevo</a>
    </div>
</div>
<hr />

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Categoria</th>
            <th>Precio</th>
            <th>Stock</th>
            <th style="width:120px">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Category.Name</td>
                <td>@item.Price</td>
                <td>@item.Stock</td>
                <td style="width:120px">
                    <a href="/pRODUCT/AddEdit/@item.ProductId" class="btn btn-sm btn-primary"><i class="fa-solid fa-pen"></i></a>
                    <button class="btn btn-sm btn-danger" onclick="deleteItem(@item.ProductId)"><i class="fa-solid fa-trash"></i></button>
                </td>
            </tr>

        }
    </tbody>
</table>

@*aca ocupamos section por convencion esto sale de la pagina leyout ademas es por que vamos a utilizar
una libreria que ocupa jquery y esto esta en leyout*@
@section Scripts {
    <script>
        function deleteItem(id){
            /*se agrega copy paste luego de instalar la libreria y pegar las dos lineas en layout*/
              Swal.fire({
              title: "Estas Seguro?",
                      /*text: "You won't be able to revert this!",*/
              icon: "warning",
              showCancelButton: true,
              confirmButtonColor: "#3085d6",
              cancelButtonColor: "#d33",
              confirmButtonText: "Si, Borralo!",
                  cancelButtonText: "No, atras"
            }).then((result) => {
              if (result.isConfirmed) {
                    window.location.href = '@Url.Action("Delete", "Product")' + '?id=' + id;

              }
            });
        }
    </script>
}